<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- metaフラグメント定義 -->
<head th:fragment="meta(title,scripts)">
  <meta charset="UTF-8">
  <title th:replace="${title}">フラグメント定義</title>
  <th:block th:replace="${scripts}"></th:block>
</head>
<body>
  <!-- headerフラグメント -->
  <div th:fragment="header">
    <img src="https://wings.msn.to/image/wings.jpg" title="ロゴ">
    <hr> <!--水平に線を引く-->
  </div>
  <!-- footerフラグメント -->
  <!-- パラメータを受け取ることもできる -->
  <div th:fragment="footer(name,date)">
    <hr>
    <p>copyright [[${date}]] [[${name}]]</p>
  </div>
</body>
</html>